@page
@model TorneoFutbol.App.Frontend.Municipios.CreateModel
@{
}
<h1>Crear Municipio</h1>
<form method="post">
    <div class="form -group">
        <label asp-for="municipio.Nombre"></label>
        <input asp-for="municipio.Nombre" class="form-control">
        <span asp-validation-for="municipio.Nombre" class= "text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success btn-block">Crear Municipio</button>
</form>
<a class="btn btn-success" asp-page="./Index">Volver</a>
