@page
@model TorneoFutbol.App.Frontend.Pages.Estadios.DetailsModel
@{
}
<h1>Detalle del Estadio</h1>
<table class="table">
            <tr>
                <th scope="col">Nombre</th>
                <td>@Model.estadio.Nombre</td>
            </tr>
            <tr>
                <th scope="col">Direccion</th>
                <td>@Model.estadio.Direccion</td>
            </tr>    
</table>
<a class="btn btn-secondary" asp-page = "./Index"> Volver </a>