@page
@using TorneoFutbol.App.Dominio;
@model TorneoFutbol.App.Frontend.Page.Reportes.EditModel
@{
}
<h1>Modificacion Reporte</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="reporte.Id"></label>
        <input asp-for="reporte.Id" class="form-control" readonly">
    </div>
    <div class="form-group">
        <label asp-for="reporte.MarcadorFinal"></label>
        <input asp-for="reporte.MarcadorFinal" class="form-control" placeholder="Digíte el Marcador Final del Partido">
        <span class="text-danger"  asp-validation-for="reporte.MarcadorFinal" ></span>
    </div>
    <div class="form-group">
        <label asp-for="reporte.TarjetasAmarillas"></label>
        <input asp-for="reporte.TarjetasAmarillas" class="form-control" placeholder="Digíte las Tarjetas Amarillas del partido">
        <span class="text-danger"  asp-validation-for="reporte.TarjetasAmarillas" ></span>
    </div>
    <div class="form-group">
        <label asp-for="reporte.TarjetasRojas"></label>
        <input asp-for="reporte.TarjetasRojas" class="form-control" placeholder="Digíte las Tarjetas Rojas del partido">
        <span class="text-danger"  asp-validation-for="reporte.TarjetasRojas" ></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Actualizar Reporte</button>
</form>
<a class="btn btn-secondary" asp-page=./Index >Volver</a>