@page
@model TorneoFutbol.App.Frontend.Pages.Arbitros.DetailsModel
@{
}
<h1>Detalles del Arbitro</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.arbitro.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Documento</th>
        <td>@Model.arbitro.Documento</td>
    </tr>
    <tr>
        <th scope="col">Telefono</th>
        <td>@Model.arbitro.Telefono</td>
    </tr>
    <tr>
        <th scope="col">Colegio</th>
        <td>@Model.arbitro.Colegio</td>
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>