@page
@using TorneoFutbol.App.Dominio
@model TorneoFutbol.App.Frontend.Pages.Arbitros.EditModel
@{
}
<h1>Editar Arbitro</h1>
<form method = "post">
    <div class="form-group">
        <label asp-for="arbitro.Id"></label>
        <input asp-for="arbitro.Id" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="arbitro.Nombre"></label>
        <input asp-for="arbitro.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="arbitro.Nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="arbitro.Documento"></label>
        <input asp-for="arbitro.Documento" class="form-control">
        <span class="text-danger" asp-validation-for="arbitro.Documento"></span>
    </div>
    <div class="form-group">
        <label asp-for="arbitro.Telefono"></label>
        <input asp-for="arbitro.Telefono" class="form-control">
        <span class="text-danger" asp-validation-for="arbitro.Telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="arbitro.Colegio"></label>
        <input asp-for="arbitro.Colegio" class="form-control">
        <span class="text-danger" asp-validation-for="arbitro.Colegio"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Editar Arbitro</button>
</form>
<br>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>