@page
@model TorneoFutbol.App.Frontend.Pages.Director_Tecnico.IndexModel
@{
}
<h1>Listado de Directores Tecnicos</h1>
<table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Documento</th>
                <th scope="col">Telefono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        </tbody>
            @foreach (var director_tecnico in Model.director_tecnico)
            {
                <tr>
                    <td>@director_tecnico.Nombre</td>
                    <td>@director_tecnico.Documento</td>
                    <td>@director_tecnico.Telefono</td>
                    <td><a class= "btn btn-secondary" asp-page= "./Details" asp-route-id= "@director_tecnico.Id">Detalle</a></td>
                </tr>
            }
        </tbody>
</table>