@page
@model TorneoFutbol.App.Frontend.Jugadores.DetailsModel
@{
}
<h1>Detalle del Jugador</h1>
<table class="table">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.jugador.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Numero</th>
        <td>@Model.jugador.Numero</td>
    </tr>
    <tr>
        <th scope="col">Posicion</th>
        <td>@Model.jugador.Posicion</td>
    </tr>
    </table>
    <a class="btn btn-success" asp-page="./Index">Volver</a>
    
