@page
@model TorneoFutbol.App.Frontend.Jugadores.IndexModel
@{
}
<h1>Listado de Jugadores</h1>
<table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Numero</th>
                <th scope="col">Posicion</th>
            </tr>
        </thead>
        </tbody>
            @foreach (var jugador in Model.jugadores)
            {
                <tr>
                    <td>@jugador.Nombre</td>
                    <td>@jugador.Numero</td>
                    <td>@jugador.Posicion</td>
                </tr>
            }
        </tbody>
</table>
