@page
@using TorneoFutbol.App.Dominio
@model TorneoFutbol.App.Frontend.Pages.Goles.EditModel
@{
}
<h1>Edit Gol</h1>
<form method = "post">
    <div class="form-group">
        <label asp-for="gol.Id"></label>
        <input asp-for="gol.Id" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="gol.MinutoGol"></label>
        <input asp-for="gol.MinutoGol" class="form-control" placeholder="2021-01-01 00:00:00">
        <span class="text-danger" asp-validation-for="gol.MinutoGol"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Edit Gol</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>